@import "tailwindcss";

@layer base {
  html, body { 
    height: 100%; 
  }
  body { 
    background-color: rgb(248 250 252);
    color: rgb(15 23 42);
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .container-page { 
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (min-width: 640px) {
    .container-page {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .container-page {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}